{%extends 'base.html'%}

{%block conteudo%}
<br><br>
<form method="get" action="{% url 'busca' %}">
  <div class="form-group row">
    <div class="col-12">
      <input class="form-control"
             type="search" value="{{ request.GET.termo }}"
             id="search-input"
             placeholder="Digite sua pesquisa"
             name="termo">
    </div>
  </div>
</form>


<style>


    tr {
  height: 50px;
}

td {
  width: 100px;

</style>
 <h1 class="mt-5">Consultores</h1>

        <table class="table">
          <thead>
            <tr>
                 <th>ID</th>
              <th align="center" scope="col">Nome</th>
              <th align="center" scope="col">Sobrenome</th>
              <th align="center" scope="col">Telefone</th>
              <th align="center" scope="col">Email</th>
              <th align="center" scope="col">Formação</th>
              <th align="center" scope="col">Especialidade</th>
              <th align="center" scope="col">Categoria</th>
            </tr>
          </thead>

            {% for contato in contatos%}
            <tr>
                <td>{{ contato.id }}</td>
              <td>
            <a href = "{% url 'ver_contato' contato.id %}">{{ contato.nome }}</a>
              </td>
              <td align="left">{{ contato.sobrenome }}</td>
               <td align="left">{{ contato.telefone }}</td>
               <td align="left">{{ contato.email }}</td>
               <td align="left">{{ contato.formação}}</td>
               <td align="left">{{ contato.função }}</td>
               <td align="left">{{ contato.categoria }}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

{%endblock%}